{% from '_macros.html' import display_flash_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}InstaSave{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static_elements', path='instasave_favicon.png') }}" type="image/png">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="navbar">
        <a href="/" class="logo"><img src="{{ url_for('static_elements', path='instasave_logo.png') }}" alt="InstaSave Logo" class="h-8"></a>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">View Posts</a></li>
                <li><a href="/scrape/status/live">Live Status</a></li>
                <li><a href="/scrape/history">Scrape History</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        {{ display_flash_messages(messages) }}
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <p>&copy; 2025 InstaSave. All Rights Reserved.</p>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>